
.heading1,
.para {
    margin: 2.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    padding: 5px;
  }
  .banner-text{
    position:absolute;
    top:10px;
    color:whitesmoke;
    padding-block:300px;
    }
    .banner-text h1{
        font-size:54px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 500px;
        margin-left: 100px;
    }
    .table-of-contents {
        width: 1350px;
        padding: 30px;
        margin-left: 60px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color:lightgray;
      } 
    .table-of-contents h1 {
      margin-left: 2px;
      }
    .table-of-contents ol {
        list-style-type: none;
        padding: 0;
        margin-left: 2px;
      } 
    .table-of-contents li {
        margin-bottom: 10px;
        text-decoration: none;
        margin-left: 2px;
      } 
    .table-of-contents li:before {
        margin-right: 5px;
        margin-left: 2px;
      }

.heading2{
    margin: 2rem auto;
}
.para {
    color:black;
    text-align: center;
    font-size: 20px;
    font-weight: italic;
}

.school-name {
    text-decoration: none;
    margin: 2rem 4rem;
    text-align: left !important;
}

.pdf-link{
    text-align: left !important;
    margin: 2rem 4rem;
}

.pdf-links{
    color: blue;
    font-weight: normal;
}


.dd-img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.school-imgs{
    display: flex;
    justify-content: space-evenly;
    
}

.card{
    border: 1px solid #FFC000;
    border-radius: 10px;
    padding: auto 10px;
}

@media (max-width: 1200px) {

    .dd-img {
        border-radius: 10px;
        width: 200px;
        height: 200px;
    }

    .school-h{
        font-size: 20px;
    }

}

@media (max-width: 830px){
    .school-imgs{
        display: inline;
    }

    .card {
        border: none;
        border-radius: 10px;
        padding: 1rem 10px;
    }

    .heading1{
        font-size: 30px;
    }
}
